@{
    ViewData["Title"] = "AboutUs";
    Layout = "_LayoutIntro";
}

<div class="mb-5">
    <span class="header-privaycy-title" style="color: #004CAD; font-size:36px; font-weight:bold;">
        ...
    </span>
</div>