@{
    ViewData["Title"] = "Privacy";
    Layout = "_LayoutIntro";
} 
 
<style>
    .privacy-title{
        font-size:24px;
        font-weight:600;
        color: #3F3F3F;
    }

    .privacy-content{
        font-size:16px;
        color: #828282;
    }
</style>

<div class="mb-5">
    <span class="header-privaycy-title" style="color: #004CAD; font-size:36px; font-weight:bold;">
        Privacy Policy for Lingodin
    </span> 
</div>


<div class="privacy-list my-5">
    <span class="privacy-title">
        Introduction
    </span>
    <p class="privacy-content">
        Welcome to Lingodin! This privacy policy outlines how we collect, use, and protect your personal information when you use our English vocabulary learning application. We are committed to ensuring that your privacy is protected.
    </p>

    <span class="privacy-title">
        Information We Collect
    </span>
    <p class="privacy-content">
        When you register or use Lingodin, we may collect the following information:
        Name
        Email address
    </p>

    <span class="privacy-title">
        How We Use Your Information
    </span>
    <p class="privacy-content">
        We use the collected information for the following purposes:
        To provide and maintain the app
        To personalize your learning experience
        To send you updates about your progress and app features
    </p>

    <span class="privacy-title">
        How long do we keep your information?
    </span>
    <p class="privacy-content">
        In Short: We keep your information for as long as necessary to fulfill the purposes outlined in this privacy notice unless otherwise required by law.We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy notice, unless a longer retention period is required or permitted by law (such as tax, accounting, or other legal requirements). No purpose in this notice will require us keeping your personal information for longer than the period of time in which users have an account with us.When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize such information, or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.
    </p>

    <span class="privacy-title">
        Data Storage and Security
    </span>
    <p class="privacy-content">
        We are committed to ensuring that your information is secure. To prevent unauthorized access or disclosure, we have put in place suitable physical, electronic, and managerial procedures to safeguard and secure the information we collect online.
    </p>

    <span class="privacy-title">
        Sharing Your Information
    </span>
    <p class="privacy-content">
        We do not share, sell, or distribute your personal information with any third parties.
    </p>

    <span class="privacy-title">
        Your Consent
    </span>
    <p class="privacy-content">
        By using Lingodin, you consent to our privacy policy.
    </p>

    <span class="privacy-title">
        Changes to Our Privacy Policy
    </span>
    <p class="privacy-content">
        We may update our privacy policy from time to time. Any changes will be posted on this page, and we will notify you via email or through the app of any significant changes.
    </p>

    <span class="privacy-title">
        Contact Us
    </span>
    <p class="privacy-content">
        If you have any questions about this privacy policy, please contact us at:
        Email: support@Lingodin.com
    </p>
</div>